@charset "ISO-8859-1";

/*Test2*/

/*
Gebruik w3.css voor opmaak van de website - download css bestand: https://www.w3schools.com/w3css/w3css_downloads.asp
In dit bestand overwrites van w3.css - generieke zaken en klassegebonden zaken
*/

/*
Algemene overwrites/aanvullingen t.o.v. w3.css
*/

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: Book Antiqua;
}

body {
	background: #b1dae7 /*url("/images/kaas.png") no-repeat fixed center*/;
	/*margin: 0;*/
}

/*
Specifieke overwrites (klassegebonden) t.o.v. w3.css
*/

.w3-table-all tr:nth-child(even) {
	background-color: #b1dae7;
}

.w3-table-all th {
	background-color: #3ca1c3;
}

/* Additions to framework (new classes) - May 2019 by Tom de Vos */
/* Layout */
.w3-center-image{display:block;margin-left:auto;margin-right:auto;}
.w3-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.w3-padding-256{padding-top:256px!important;padding-bottom:256px!important}
/* Colors - Specifically for the workshop2c_springboot project */
.w3-blue05,.w3-hover-blue05:hover{color:#fff!important;background-color:#061014!important}
.w3-blue15,.w3-hover-blue15:hover{color:#fff!important;background-color:#12303b!important}
.w3-blue40,.w3-hover-blue40:hover{color:#fff!important;background-color:#30819c!important}
.w3-blue50,.w3-hover-blue50:hover{color:#000!important;background-color:#3ca1c3!important}
.w3-blue80,.w3-hover-blue80:hover{color:#000!important;background-color:#b1dae7!important}